<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../reset.css">
    <link rel="stylesheet" href="../mobile/style.css">
    <link rel="stylesheet" href="../stylesheet.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="header">
                <span class="header-left">IC "Repair Design Project"</span>
                <span class="header-right">+7 (928) 768-32-39</span>
            </div>
        </div>
    </header>

    <main>
        <section class="section1">
            <div class="container">
                <div class="section1-img">
                    <img class="img" src="../mobile/bg/section1.png" alt="photo">
                </div>
                <div class="block1">
                    <h1 class="block1-h1">Turnkey Repair in the<br>
                        city of <span class="block1-h1-color">Rostov-on-Don</span>
                    </h1>
                    <p class="block1-p">
                        Get ready-made turnkey repairs on time<br>
                        with work time saving up to 45 days and<br>
                        20% from cost of materials due to the organization<br>
                        of work
                    </p>
                    <div class="block1-button">
                        <button class="block1-button-up">CALCULATE THE COST</button>
                        <button class="block1-button-down">APPLICATION</button>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="block2">
                    <h2 class="block2-h2">Completed<br>projects</h2>
                    <p class="block2-p">Only a small part of the work performed by our company is<br>
                     presented on the site. For 14 years on in the construction<br>
                    market we have made happy more than 1000 families</p>
                    <div class="block2-img-button">
                        <img class="block2-img" src="../mobile/bg/block2.png" alt="photo">
                        <div class="block2-button">
                            <button class="block2-button-left"><img src="../mobile/svg/block2-button-left.svg" alt="button"></button>
                            <button class="block2-button-right"><img src="../mobile/svg/block2-button-right.svg" alt="button"></button>
                        </div>
                        <div class="block2-more">
                            <div class="block2-more-flex">
                                <div class="block2-more-flex-content1">
                                    <h3 class="block2-more-flex-content1-h3">City:</h3>
                                    <span class="block2-more-flex-content1-span">Rostov-on-Don<br>LCD admiral</span>
                                </div>
                                <div class="block2-more-flex-content2">
                                    <h3 class="block2-more-flex-content1-h3">apartment area:</h3>
                                    <span class="block2-more-flex-content1-span">81 m2</span>
                                </div>
                            </div>
                            <div class="block2-more-flex block2-more-flex-top">
                                <div class="block2-more-flex-content1">
                                    <h3 class="block2-more-flex-content1-h3">Repair time:</h3>
                                    <span class="block2-more-flex-content1-span">3.5 months</span>
                                </div>
                                <div class="block2-more-flex-content2-left">
                                    <h3 class="block2-more-flex-content1-h3">Repair Cost:</h3>
                                    <span class="block2-more-flex-content1-span">Upon request</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="block3">
                    <h3 class="block3-h3">online control</h3>
                    <div class="block3-figurs">
                        <img src="../mobile/svg/mobile-line.svg" alt="-">
                        <img class="block3-camera" src="../mobile/svg/mobile-camera.svg" alt="cam">
                        <img src="../mobile/svg/mobile-line.svg" alt="-">
                    </div>
                    <div class="block3-img-button">
                        <img class="block3-img" src="../mobile/bg/mobile-remont.png" alt="photo">
                        <div class="block3-button">
                            <button class="block3-play"><img src="../mobile/svg/mobile-play.svg" alt="button"></button>
                        </div>
                    </div>
                    <img class="block3-big-line" src="../mobile/svg/big-line.svg" alt="line">
                    <p class="block3-p">At each facility, a camera is installed that broadcasts the progress of<br>
                        work on the clock. At any time, you can go to our website and<br>
                        monitor the progress of work in your apartment. Y<br>
                        ou can watch the live broadcast from one of our facilities!<br>
                        Leave a request below and you will receive a link to the broadcast.
                    </p>

                    <form class="block3-form" action="">
                        <label class="block3-color" for="">Name
                            <input class="block3-input" type="text" name="" id="" placeholder="What is your name:">
                        </label>
                        <label class="block3-color block3-color-top" class="" for="">Number
                            <input class="block3-input" type="text" name="" id="" placeholder="Your phone number:">
                        </label>
                    </form>
                    <div class="first-checkbox">
                        <label class="label">
                          <input type="checkbox" class="checkbox" >
                          <span class="fake"></span>
                          <span class="text">I agree to the processing of personal data</span>
                        </label>
                    </div>
                    <button class="block3-button2">submit</button>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="block4">
                    <h3 class="block4-h3">TYPES OF REPAIR</h3>
                    <div class="block4-figurs">
                        <img src="../mobile/svg/mobile-line.svg" alt="-">
                        <img class="mobile-molot" src="../mobile/svg/mobile-molot.svg" alt="molot">
                        <img src="../mobile/svg/mobile-line.svg" alt="-">
                    </div>
                    <div class="block4-block">
                        <img class="block4-img" src="../mobile/bg/block4-img1.png" alt="photo">
                        <div class="block4-col1">
                          <div class="block4-ul1">
                            <h4 class="block4-h4"><strong>Redecorating</strong></h4>
                            <ul>
                              <li class="block4-li" type="disc"><a href="">Dismantling of old coatings </a></li>
                              <li class="block4-li" type="disc"><a href="">Wallpapering</a></li>
                              <li class="block4-li" type="disc"><a href="">Painting walls and ceilings</a></li>
                              <li class="block4-li" type="disc"><a href="">Laying flooring</a></li>
                              <li class="block4-li" type="disc"><a href="">Replacing plumbing</a></li>
                              <li class="block4-li" type="disc"><a href="">Replacing sockets and switches</a></li>
                              <li class="block4-li" type="disc"><a href="">Replacing doors</a></li>
                            </ul>
                          </div>
                          <div class="block4-from1">
                            <h3>from 900 rub / m2</h3>
                          </div>
                        </div>
                    </div>
                    <div class="block4-block">
                        <img class="block4-img" src="../mobile/bg/block4-img1.png" alt="photo">
                        <div class="block4-col1">
                          <div class="block4-ul1">
                            <h4 class="block4-h4"><strong>Overhaul</strong></h4>
                            <ul>
                              <li class="block4-li" type="disc"><a href="">Dismantling of old coatings </a></li>
                              <li class="block4-li" type="disc"><a href="">Wallpapering</a></li>
                              <li class="block4-li" type="disc"><a href="">Painting walls and ceilings</a></li>
                              <li class="block4-li" type="disc"><a href="">Laying flooring</a></li>
                              <li class="block4-li" type="disc"><a href="">Replacing plumbing</a></li>
                              <li class="block4-li" type="disc"><a href="">Replacing sockets and switches</a></li>
                              <li class="block4-li" type="disc"><a href="">Replacing doors</a></li>
                            </ul>
                          </div>
                          <div class="block4-from1">
                            <h3>from 1800 rub / m2</h3>
                          </div>
                        </div>
                    </div>
                    <div class="block4-block">
                        <img class="block4-img" src="../mobile/bg/block4-img1.png" alt="photo">
                        <div class="block4-col1">
                          <div class="block4-ul1">
                            <h4 class="block4-h4"><strong>Designer Repair</strong></h4>
                            <ul>
                              <li class="block4-li" type="disc"><a href="">Dismantling of old coatings </a></li>
                              <li class="block4-li" type="disc"><a href="">Wallpapering</a></li>
                              <li class="block4-li" type="disc"><a href="">Painting walls and ceilings</a></li>
                              <li class="block4-li" type="disc"><a href="">Laying flooring</a></li>
                              <li class="block4-li" type="disc"><a href="">Replacing plumbing</a></li>
                              <li class="block4-li" type="disc"><a href="">Replacing sockets and switches</a></li>
                              <li class="block4-li" type="disc"><a href="">Replacing doors</a></li>
                            </ul>
                          </div>
                          <div class="block4-from1">
                            <h3>from 4000 rub / m2</h3>
                          </div>
                        </div>
                    </div>
                    <div class="block4-top">
                        <h3 class="block5-h3">We realize your<br>
                            wildest fantasies</h3>
                        <div class="block2-img-button">
                            <img class="block2-img" src="../mobile/bg/block5-img.png" alt="photo">
                            <div class="block2-button">
                                <button class="block2-button-left"><img src="../mobile/svg/block2-button-left.svg" alt="button"></button>
                                <button class="block2-button-right"><img src="../mobile/svg/block2-button-right.svg" alt="button"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="block5">

                    <form class="block3-form block5-form" action="">
                        <label class="block3-color" for="">Name
                            <input class="block3-input" type="text" name="" id="" placeholder="What is your name:">
                        </label>
                        <label class="block3-color block3-color-top" class="" for="">Number
                            <input class="block3-input" type="text" name="" id="" placeholder="Your phone number:">
                        </label>
                    </form>
                    <div class="first-checkbox">
                        <label class="label">
                          <input type="checkbox" class="checkbox" >
                          <span class="fake"></span>
                          <span class="text">I agree to the processing of personal data</span>
                        </label>
                    </div>
                    <button class="block5-button2">submit</button>
                    <img class="block5-map" src="../mobile/bg/block5-map.png" alt="map">
                    <h2 class="block5-h2">Rostov-on-Don, Nansen St., 239<br>
                        Shopping Center Decorum<br>
                        Tel +7 (928) 768 32 29
                    </h2>
                    <div class="block5-figurs">
                        <button><img src="../mobile/svg/block5-email.svg" alt="email"></button>
                        <button><img src="../mobile/svg/block5-inst.svg" alt="inst"></button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>