<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../verstka/reset.css">
  <link rel="stylesheet" href="../verstka/style.css">
  <link rel="stylesheet" href="../verstka/stylesheet.css">
</head>
<body>
  <header class="header"> <!--ШАПКА САЙТА-->
    <div class="container">
      <div class="header-row">
        <span class="header-logo">IC "Repair Design Project"</span>
        <nav class="header-nav">
            <ul>
              <li><a class="header-home" href="">HOME</a></li>
              <li><a href="">PROJECTS</a></li>
              <li><a href="">MEASUREMENT</a></li>
              <li><a href="">TEAM</a></li>
              <li><a href="">REVIEWS</a></li>
              <li><a href="">CONTACTS</a></li>
            </ul>
        </nav>
        <div class="header-right">
          <span class="phone">+7 (928) 768-32-39</span>
          <button class="button">Request a call</button>
        </div>
      </div>
    </div>
  </header>

  <main>
    <section class="home">
      <div class="container">
        <div class="home-content">
          <h1 class="home-heading">Turnkey Repair in the<br> city of <span class="home-heading-color">Rostov-on-Don</span></h1>
          <div class="home-text">
            <p>Get ready-made turnkey repairs on time<br>
              with work time saving up to 45 days and 20% from<br>
              cost of materials due to the organization of work</p>
          </div>
          <div class="home-button">
            <button class="button-left">CALCULATE THE COST</button>
            <button class="button-right">SUBMIT YOUR APPLICATION</button>
          </div>
        </div>
      </div>
    </section>

    <section class="home2">
      <div class="container2">
        <div class="home-content2">
          <div class="nav-spisok">
            <nav class="nav-home2">
              <ul class="ul2">
                <li class="li-home2 li-color"><a href="">Rostov-on-Don, Admiral</a></li>
                <li class="li-home2"><a href="">Sochi Thieves</a></li>
                <li class="li-home2"><a href="">Rostov-on-Don Patriotic</a></li>
              </ul>
            </nav>
          </div>
          <div class="main-content2">
            <div class="block-left">
              <h2 class="home-heading2">Completed<br>projects</h2>
              <p class="main-left-text">Only a small part of the work performed by our company is presented<br>
              on the site. For 14 years on in the construction<br> 
              market we have made happy more than 1000 families</p>
              <div class="main-block1">
                <div class="main-left-block-mini1">
                  <h3 class="home-heading3">City:</h3>
                  <span class="main-left-text2">Rostov-on-Don<br>
                  LCD admiral</span>
                </div>
                  <div class="main-left-block-mini2"> 
                    <h3 class="home-heading3">apartment area:</h3>
                    <span class="main-left-text2">81 m2</span>         
                  </div>
              </div>
                <div class="main-block2">
                  <div class="main-left-block-mini3">
                    <h3 class="home-heading3">Repair time:</h3>
                    <span class="main-left-text2">3.5 months</span>
                  </div>
                  <div class="main-left-block-mini4">
                    <h3 class="home-heading3">Repair Cost:</h3>
                    <span class="main-left-text2">Upon request</span>
                  </div>
                </div>
                <div class="vector-icons">
                  <img class="strel1" src="../verstka/vector/strelka-left.svg" alt="strel">
                  <img class="line1" src="../verstka/vector/line.svg" alt="-">
                  <img class="krug1" src="../verstka/vector/krug-white.svg" alt="krug">
                  <img class="krug1" src="../verstka/vector/krug.svg" alt="krug">
                  <img class="krug2" src="../verstka/vector/krug.svg" alt="krug">
                  <img class="line3" src="../verstka/vector/line.svg" alt="-">
                  <img class="strel2" src="../verstka/vector/strelka.svg" alt="strel">
                </div>
            </div>
              <div class="block-right">
                <div class="home-photo2">
                  <img src="../verstka/bg/home2.png" alt="photo2">
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>

    <section class="control">
      <div class="container">
        <div class="control-content">
          <h3 class="control-h3">online control</h3>
          <div class="vector-camera">
            <img src="../verstka/vector/strelka-color.svg" alt="-">
            <img src="../verstka/vector/camera.svg" alt="camera">
            <img src="../verstka/vector/strelka-color.svg" alt="-">
          </div>
            <img class="control-img" src="../verstka/bg/mask-group.png" alt="photo">
            <div class="control-ellipse">
              <img src="../verstka/vector/Ellipse.svg" alt="ellipse">
            </div>
            <div class="control-pol">
              <img src="../verstka/vector/Polygon.svg" alt="pol">
            </div>
              <img class="big-line" src="../verstka/vector/big-line.svg" alt="photo">
          <p class="control-text">At each facility, a camera is installed that broadcasts the progress of work on the<br>
            clock. At any time, you can go to our website and monitor the progress of work in<br>
            your apartment. You can watch the live broadcast from one of our facilities!<br>
            Leave a request below and you will receive a link to the broadcast.</p>
            <div class="form-flex">
              <form action="" class="form-col">
                <label class="label-name" for="">Name
                  <input class="input-text" type="text" placeholder="What is your name:">
                </label>
                <label for="" class="label-phone">Phone
                  <input class="input-phone" type="text" placeholder="Your phone number:">
                </label>
                <button class="submit-button">Submit</button>
                </div>
              </form>
              <div class="first-checkbox">
                <label class="label">
                  <input type="checkbox" class="checkbox" >
                  <span class="fake"></span>
                  <span class="text">I agree to the processing of personal data</span>
                </label>
            </div>
        </div>
      </div>
    </section>
    <section class="types">
      <div class="container">
        <div class="types-block1">
          <h3 class="types-h3">types of repair</h3>
          <div class="types-svg">
            <img src="../verstka/vector/strelka-color.svg" alt="-">
            <img src="../verstka/vector/remont.svg" alt="remont">
            <img src="../verstka/vector/strelka-color.svg" alt="-">
          </div>
        </div>
        <div class="types-big-block">
          <div class="types-block2">
            <img src="../verstka/bg/types-bg1.jpg" alt="types-bg1">
            <div class="types-col1">
              <div class="types-ul1">
                <h4 class="types-h4">Redecorating</h4>
                <ul>
                  <li class="types-li" type="disc"><a href="">Dismantling of old coatings </a></li>
                  <li class="types-li" type="disc"><a href="">Wallpapering</a></li>
                  <li class="types-li" type="disc"><a href="">Painting walls and ceilings</a></li>
                  <li class="types-li" type="disc"><a href="">Laying flooring</a></li>
                  <li class="types-li" type="disc"><a href="">Replacing plumbing</a></li>
                  <li class="types-li" type="disc"><a href="">Replacing sockets and switches</a></li>
                  <li class="types-li" type="disc"><a href="">Replacing doors</a></li>
                </ul>
              </div>
              <div class="from1">
                <h3>from 900 rub / m2</h3>
              </div>
            </div>
          </div>
          <div class="types-block2">
            <img src="../verstka/bg/types-bg2.jpg" alt="types-bg2">
            <div class="types-col1">
              <div class="types-ul1">
                <h4 class="types-h4">Overhaul</h4>
                <ul>
                  <li class="types-li" type="disc"><a href="">Dismantling of old coatings </a></li>
                  <li class="types-li" type="disc"><a href="">Wallpapering</a></li>
                  <li class="types-li" type="disc"><a href="">Painting walls and ceilings</a></li>
                  <li class="types-li" type="disc"><a href="">Laying flooring</a></li>
                  <li class="types-li" type="disc"><a href="">Replacing plumbing</a></li>
                  <li class="types-li" type="disc"><a href="">Replacing sockets and switches</a></li>
                  <li class="types-li" type="disc"><a href="">Replacing doors</a></li>
                </ul>
              </div>
              <div class="from1">
                <h3>from 900 rub / m2</h3>
              </div>
            </div>
          </div>
          <div class="types-block2">
            <img src="../verstka/bg/types-bg3.jpg" alt="types-bg2">
            <div class="types-col1">
              <div class="types-ul1">
                <h4 class="types-h4">Designer Repair</h4>
                <ul>
                  <li class="types-li" type="disc"><a href="">Dismantling of old coatings </a></li>
                  <li class="types-li" type="disc"><a href="">Wallpapering</a></li>
                  <li class="types-li" type="disc"><a href="">Painting walls and ceilings</a></li>
                  <li class="types-li" type="disc"><a href="">Laying flooring</a></li>
                  <li class="types-li" type="disc"><a href="">Replacing plumbing</a></li>
                  <li class="types-li" type="disc"><a href="">Replacing sockets and switches</a></li>
                  <li class="types-li" type="disc"><a href="">Replacing doors</a></li>
                </ul>
              </div>
              <div class="from1">
                <h3>from 900 rub / m2</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="types2">
      <div class="container-types">
        <div class="types-block3">
          <div class="types-left-block">
            <img class="types2-img" src="../verstka/bg/types2 img.png" alt="photo">
            <div class="types-mini-block">
              <div class="types-figurs">
                <div class="types-kv"></div>
                <div class="types-kr"></div>
                <div class="types-num">01</div>
              </div>
              <div class="types-p">
                <p>Our specialist will arrive for measurements per day<br>
                  contact, or appoint a date convenient for you</p>
              </div>
            </div>
            <div class="types-mini-block">
              <div class="types-figurs">
                <div class="types-kv"></div>
                <div class="types-kr"></div>
                <div class="types-num">02</div>
              </div>
              <div class="types-p">
                <p>Free metering</p>
              </div>
            </div>
            <div class="types-mini-block">
              <div class="types-figurs">
                <div class="types-kv"></div>
                <div class="types-kr"></div>
                <div class="types-num">03</div>
              </div>
              <div class="types-p">
                <p>Free consultation</p>
              </div>
            </div>
            <div class="types-mini-block">
              <div class="types-figurs">
                <div class="types-kv"></div>
                <div class="types-kr"></div>
                <div class="types-num">04</div>
              </div>
              <div class="types-p">
                <p>Get a cost estimate and<br>
                  the timing of your future repairs</p>
              </div>
            </div>              
        </div>
        <div class="types-right-block">
          <form action="" class="types-form">
            <h4 class="types-h4">Leave a request for free<br>
              departure of the measurer</h4>
              <label class="types2-color" for="">Name
                <input class="types2-input" type="text" name="" id="" placeholder="What is your name:">
                <img class="types2-line" src="../verstka/vector/types2-line.svg" alt="line">
              </label>
              <label class="types2-color" for="">Phone
                <input class="types2-input" type="text" name="" id="" placeholder="Your phone number:">
                <img class="types2-line" src="../verstka/vector/types2-line.svg" alt="line">
              </label>
              <label class="types2-color" for="">Email
                <input class="types2-input" type="text" name="" id="" placeholder="Your email">
                <img class="types2-line" src="../verstka/vector/types2-line.svg" alt="line">
              </label>
          </form>
          <div class="first-checkbox2">
            <label class="label">
              <input type="checkbox" class="checkbox" >
              <span class="fake"></span>
              <span class="text2">I agree to the processing of personal data</span>
            </label>
          </div>
          <button class="types2-button">Call the measurer</button>
        </div>
        </div>
        <div class="types2-niz">
          <div class="types2-krug">
            <img class="svinka" src="../verstka/vector/svinka.svg" alt="svinka">
            <img class="dollar" src="../verstka/vector/$.svg" alt="$">
          </div>
          <p>Help save 10 - 20% of the<br> 
            cost of materials</p>
        </div>
      </div>
    </section>

    <section class="types3">
      <div class="container-types3">
        <div class="types3-block">
          <div class="types3-left-block">
            <h2 class="types3-h2">We realize your<br>
              wildest fantasies</h2>
              <div class="types3-ul">
                <ul>
                  <li class="types3-li types3-li-color"><a class="types3-a" href="">American classic</a></li>
                  <li class="types3-li"><a href="">Empire</a></li>
                  <li class="types3-li"><a href="">Classical</a></li>
                  <li class="types3-li"><a href="">Loft</a></li>
                  <li class="types3-li"><a href="">Minimalism</a></li>
                  <li class="types3-li"><a href="">Provence</a></li>
                  <li class="types3-li"><a href="">Romanticism</a></li>
                  <li class="types3-li"><a href="">Scandinavian style</a></li>
                  <li class="types3-li"><a href="">Mediterranean style</a></li>
                  <li class="types3-li"><a href="">High tech</a></li>
                  <li class="types3-li"><a href="">Eclecticism</a></li>
                </ul>
              </div>
          </div>
          <div class="types3-right-block">
            <div class="types3-mini-left-block">
              <img class="types3-img1" src="../verstka/bg/types3-img1.png" alt="img1">
              <img class="types3-img3" src="../verstka/bg/types3-img3.png" alt="img2">
            </div>
            <div class="types3-mini-right-block">
              <img class="types3-img2" src="../verstka/bg/types3-img2.png" alt="img3">
              <img class="types3-img4" src="../verstka/bg/types3-img4.png" alt="img4">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="our">
      <div class="container-our">
        <div class="our-block1">
          <h3 class="our-h3">our clients</h3>
          <div class="figurs-our">
            <img src="../verstka/vector/figurs-our.svg" alt="our">
          </div>
          <p class="our-p">80% of our customers recommend us to their<br>
            friends and family.</p>
        </div>
        <div class="our-block2">

          <div class="our-mini-block2">
            <div class="our-mini-block2-margin-left">
              <div class="our-flex">
                <img class="our-people-img" src="../verstka/vector/our-people1.svg" alt="people">
                <h4 class="our-people-h4"><strong>Fedosova Maria<br>
                  Konstantinovna</strong></h4>
              </div>
              <p class="our-left-block2-p">
                I want to thank the guys for their work. We put your<br>
                 shower part in repair. I am very grateful that I referred<br>
                  to the repair as to my own. Great thanks I express the<br>
                   project to Georgia for its professionalism and approach.
              </p>
              <p class="our-left-block2-p2">
                The repair process was turned out in terms, faster than<br>
                 anticipated. Team mobile and professional. Works<br>
                  performed qualitatively without comments. Quality<br>
                   satisfied. Prices democratic. I recommend these<br>
                    masters.
              </p>
              <div class="our-left-block2-niz">
  
                <div class="our-left-block2-niz-left-block">
                  <img class="our-niz-img" src="../verstka/vector/our-niz-left.svg" alt="left">
                  <p>40 M2</p>
                </div>
                <div class="our-left-block2-niz-right-block">
                  <img class="our-niz-img" src="../verstka/vector/our-niz-right.svg" alt="right">
                  <p>48 DAYS</p>
                </div>
              </div>
            </div>
          </div>
          <div class="our-mini-block2">
            <div class="our-mini-block2-margin-left">
              <div class="our-flex">
                <img class="our-people-img" src="../verstka/vector/our-people2.svg" alt="people">
                <h4 class="our-people-h4"><strong>Afanasyev Sergey<br>
                   Alexandrovich</strong></h4>
              </div>
              <p class="our-left-block2-p">
                I want to thank the guys for their work. We put your<br>
                 shower part in repair. I am very grateful that I referred<br>
                  to the repair as to my own. Great thanks I express the<br>
                   project to Georgia for its professionalism and approach.
              </p>
              <p class="our-left-block2-p2">
                The repair process was turned out in terms, faster than<br>
                 anticipated. Team mobile and professional. Works<br>
                  performed qualitatively without comments. Quality<br>
                   satisfied. Prices democratic. I recommend these<br>
                    masters.
              </p>
              <div class="our-left-block2-niz">
  
                <div class="our-left-block2-niz-left-block">
                  <img class="our-niz-img" src="../verstka/vector/our-niz-left.svg" alt="left">
                  <p>90 M2</p>
                </div>
                <div class="our-left-block2-niz-right-block">
                  <img class="our-niz-img" src="../verstka/vector/our-niz-right.svg" alt="right">
                  <p>128 DAYS</p>
                </div>
              </div>
            </div>
          </div>
          <div class="our-mini-block2">
            <div class="our-mini-block2-margin-left">
              <div class="our-flex">
                <img class="our-people-img" src="../verstka/vector/our-people3.svg" alt="people">
                <h4 class="our-people-h4"><strong>Kiriev Egor<br>
                   Leonidovich</strong></h4>
              </div>
              <p class="our-left-block2-p">
                I want to thank the guys for their work. We put your<br>
                 shower part in repair. I am very grateful that I referred<br>
                  to the repair as to my own. Great thanks I express the<br>
                   project to Georgia for its professionalism and approach.
              </p>
              <p class="our-left-block2-p2">
                The repair process was turned out in terms, faster than<br>
                 anticipated. Team mobile and professional. Works<br>
                  performed qualitatively without comments. Quality<br>
                   satisfied. Prices democratic. I recommend these<br>
                    masters.
              </p>
              <div class="our-left-block2-niz">
  
                <div class="our-left-block2-niz-left-block">
                  <img class="our-niz-img" src="../verstka/vector/our-niz-left.svg" alt="left">
                  <p>56 M2</p>
                </div>
                <div class="our-left-block2-niz-right-block">
                  <img class="our-niz-img" src="../verstka/vector/our-niz-right.svg" alt="right">
                  <p>86 DAYS</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="our-frame">
          <img src="../verstka/vector/frame-left.svg" alt="frame">
          <img src="../verstka/vector/frame-right.svg" alt="frame">
        </div>
      </div>
    </section>

    <section class="our2">
      <div class="container-our2">

        <div class="our2-form">
          <form action="">
            <h4 class="our2-h4">have any questions?</h4>
            <div class="our2-form-name-phone">
              <div class="our2-form-name">
                <label class="our2-form-color" for="">Name
                  <input class="our2-form-input" type="text" name="" id="" placeholder="What is your name:">
                </label>
              </div>
              <div class="our2-form-phone">
                <label class="our2-form-color" for="">Phone
                  <input class="our2-form-input" type="text" name="" id="" placeholder="Your phone number:">
                </label>
              </div>
            </div>
            <div class="our2-form-question">
              <label class="our2-form-color" for="">Question
                <input class="our2-form-input" type="text" name="" id="" placeholder="I want to know:">
              </label>
            </div>
          </form>
          <div class="first-checkbox3">
            <label class="label">
              <input type="checkbox" class="checkbox" >
              <span class="fake"></span>
              <span class="text2">I agree to the processing of personal data</span>
            </label>
          </div>
            <button class="our2-button2">Submit</button>
        </div>
        <div class="our2-more">
          <div class="our2-h3">
            <h3>Rostov-on-Don, Nansen St., 239 Shopping Center<br>
              Decorum Tel +7 (928) 768 32 29</h3>
          </div>
          <div class="our2-logo-group">
            <img src="../verstka/vector/our2-logo-group.svg" alt="logo">
          </div>
          <div class="our2-map">
            <img src="../verstka/bg/our2-map.png" alt="map">
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div class="container-footer">
      <div class="header-row">
        <span class="header-logo">IC "Repair Design Project"</span>
        <nav class="header-nav footer">
            <ul>
              <li><a class="header-home" href="">HOME</a></li>
              <li><a href="">PROJECTS</a></li>
              <li><a href="">MEASUREMENT</a></li>
              <li><a href="">TEAM</a></li>
              <li><a href="">REVIEWS</a></li>
              <li><a href="">CONTACTS</a></li>
            </ul>
        </nav>
        <div class="header-right">
          <span class="phone">+7 (928) 768-32-39</span>
          <button class="button">Request a call</button>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
